.game-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#board {
    width: 325px;
    margin: auto;
}

.select-disabled {
    -moz-user-select: '-moz-none';
    -moz-user-select: 'none';
    -o-user-select: 'none';
    -khtml-user-select: 'none';
    -webkit-user-select: 'none';
    -ms-user-select: 'none';
    user-select: 'none';
}