@import "variables";

/**************************************** common ***************************************/
.main-container {
  width: 100%;
  min-width: @common-center-column-min-width + 10;
}

.game-state {
  font-weight: @common-game-state-font-weight;

  &.new {
    color: @common-game-state-new-color;
  }

  &.in_progress {
    color: @common-game-state-in-progress-color;
  }

  &.paused {
    color: @common-game-state-paused-color;
  }

  &.finished {
    color: @common-game-state-finished-color;
  }
}

.to-top {
  width: @common-to-top-width;
  border-top: @common-to-top-border-top;
  padding: @common-to-top-padding;
  margin: @common-to-top-margin;
  text-align: @common-to-top-text-align;
}

/**************************************** other ***************************************/

.select-disabled {
  .select-disabled-mixin();
}

.image-info {
  font-size: 12px;
}

.content-blocker {
  .blocker-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;

    .opacity-mixin(.8);
  }

  .blocker-content {
    position: absolute;
    top: 40%;
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    color: #000;
    width: 100%;

    .opacity-mixin(.5);
  }
}


