@import "variables";
@import "sudoku-variables";

.sudoku-table {
  width: 600px;
  height: 420px;

  &.resolved {

    .congratulations {
      display: block;
    }

    .sudoku-board {
      .cell {
        background-color: #ddffdd;
      }
    }
  }

  .congratulations {
    width: 550px;
    display: none;
    position: absolute;
    z-index: 10;

    .message {
      padding: 20px 50px;
      margin: 100px auto 0;
      width: 400px;
      background-color: #fff;
      border: 5px solid #cccccc;
      border-radius: 5px;
      font-size: 2em;
      font-weight: bold;
      line-height: 40px;
      color: #008800;
      text-align: center;
      vertical-align: middle;
    }
  }

  .sudoku-board {
    float: left;
    margin-right: 20px;
  }

  .sudoku-controls {
    float: left;
  }

  .sudoku-game-info {
    clear: both;
  }
}

.sudoku-board {
  border: @sudoku-default-board-border-width @sudoku-default-board-border-style @sudoku-default-board-border-color;
}

/********************************** board cells *********************************/

.sudoku-board .cell {
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  width: @sudoku-default-board-cell-width;
  height: @sudoku-default-board-cell-height;
  background-color: @sudoku-default-board-cell-background-color;
  border: @sudoku-default-board-cell-border-width @sudoku-default-board-cell-border-style @sudoku-default-board-cell-border-color;
  margin: -@sudoku-default-board-cell-border-width 0 0 -@sudoku-default-board-cell-border-width;
  font-size: @sudoku-default-board-cell-font-size;

  .box-sizing-mixin(@sudoku-default-board-cell-box-sizing);
}

.sudoku-board .cell.gray {
  background-color: @sudoku-default-board-cell-gray-background-color;
}

.sudoku-board .cell:hover {
  background-color: @sudoku-default-board-cell-hover-background-color;
}

.sudoku-board .cell.locked {
  background-color: @sudoku-default-board-cell-locked-background-color;
}

.sudoku-board .cell.hovered {
  color: @sudoku-default-board-cell-number-hover-color;
  background-color: @sudoku-default-board-cell-number-hover-background-color; // ???
}

.sudoku-board .cell.selected {
  background-color: @sudoku-default-board-cell-selected-background-color;
}

.sudoku-board .cell.pushed {
  background-color: @sudoku-default-board-cell-pushed-background-color;
}

.sudoku-board .cell.error {
  background-color: @sudoku-default-board-cell-error-background-color;
}

.sudoku-board .cell.row-4,
.sudoku-board .cell.row-7 {
  border-top: @sudoku-default-board-around-section-border-width @sudoku-default-board-around-section-border-style @sudoku-default-board-around-section-border-color;
}

.sudoku-board .cell.col-4,
.sudoku-board .cell.col-7 {
  border-left: @sudoku-default-board-around-section-border-width @sudoku-default-board-around-section-border-style @sudoku-default-board-around-section-border-color;
}

/* no-errors */
.sudoku-board.no-errors .cell.row-4,
.sudoku-board.no-errors .cell.row-7 {
  border-top-color: @sudoku-default-success-board-around-section-border-color;
}

.sudoku-board.no-errors .cell.col-4,
.sudoku-board.no-errors .cell.col-7 {
  border-left-color: @sudoku-default-success-board-around-section-border-color;
}

.sudoku-board.no-errors {
  border-color: @sudoku-default-success-board-border-color;
}

/********************************** controls *********************************/
.sudoku-controls {
  width: 165px;

  .sudoku-controls-row {
    margin-bottom: 5px;
  }

  .mark-mode,
  .check-field,
  .clear-field {
    &.btn {
      width: 100%;
    }
  }

  .undo-move,
  .redo-move {
    &.btn {
      width: 83px;
    }
  }
}

.sudoku-numpad {
  margin: 24px 0;

  table {
    margin-left: 1px;

    &.popup {
      position: absolute;
    }

    tr {
      &:first-child {
        .number {
          &:first-child {
            .border-radius-mixin(3px 0 0 0);
          }

          &:last-child {
            .border-radius-mixin(0 3px 0 0);
          }
        }
      }

      .number.clear {
        .border-radius-mixin(0 0 3px 3px);
      }
    }

    .number {
      border-color: #ccc;
      border-style: solid;
      border-width: 1px;

      border-bottom-color: #b3b3b3;
      //    border: @sudoku-numpad-default-number-border;

      float: left;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2em;
      line-height: 46px;
      background-color: @sudoku-numpad-default-number-background-color;
      width: @sudoku-numpad-default-number-width;
      height: @sudoku-numpad-default-number-height;
      margin: @sudoku-numpad-default-number-margin;
      padding: @sudoku-numpad-default-number-padding;

      .box-sizing-mixin(@sudoku-numpad-default-number-box-sizing);
      .linear-gradient-mixin(#fff, #e6e6e6);

      &.disabled {
        color: #999;
        padding-top: @sudoku-numpad-default-number-padding-top + 1;
        background-color: @sudoku-numpad-default-number-disabled-background-color;
        font-weight: normal;

        .linear-gradient-mixin(@sudoku-numpad-default-number-disabled-background-color, @sudoku-numpad-default-number-disabled-background-color);
      }

      &.clear {
        height: 30px;
        line-height: 22px;
        width: @sudoku-numpad-default-clear-width;
      }

      &.enabled {
        &:hover,
        &.hover {
          background-color: @sudoku-numpad-default-number-hover-background-color;
          .linear-gradient-mixin(#e6e6e6, #fff);
        }
      }
    }

    .none {
      visibility: hidden;
    }

    .close {
      cursor: pointer;
    }
  }
}

/********************************** index and other *********************************/
.game-board-example {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  width: 350px;

  .sudoku-board {
    margin: 0 auto;
  }
}

.sudoku-game-goal {
  font-size: 25px;
  line-height: 30px;
}

/********************************** right col *********************************/

.show-new-game-form {
  width: 100%;
}


